/* * GENERAL STYLES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--FONT-COLOR: #131318;
	--BTN-COLOR: #ff5400;
}

html {
	font-size: 62.5%;
	font-family: "Mulish", sans-serif;
}

img {
	width: 100%;
}

button,
input {
	background: none;
	outline: none;
	border: none;
}

/* * COMMON STYLES */

.btn {
	font-size: 2rem;
	font-weight: 700;
	background: var(--BTN-COLOR);
	border: none;
	cursor: pointer;
	text-transform: capitalize;
	color: #ffffff;
	padding: 1.6rem 3rem;
	border-radius: 0.8rem;
	letter-spacing: 1px;
	transition: all 0.3s;
}

.btn:hover {
	background: #e64c00;
}

.container {
	max-width: 124rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.container--flex {
	display: flex;
	justify-content: space-between;
}

.content--summary {
	font-size: 1.6rem;
	line-height: 1.8;
	letter-spacing: 1px;
	font-weight: 400;
}

.content--heading {
	font-size: 4.2rem;
	font-weight: 800;
	letter-spacing: 0.5px;
	line-height: normal;
	margin-bottom: 2.5rem;
}

.brand--logo {
	font-size: 3.6rem;
	letter-spacing: 0.5px;
	font-weight: 800;
}

.highlight {
	color: var(--BTN-COLOR);
}

.section--heading {
	max-width: 65rem;
	margin: 0 auto 4.8rem;
	text-align: center;
}
