@media screen and (max-width: 576px) {
	html {
		font-size: 50.25%;
	}

	main section {
		margin: 5rem 0;
	}

	.content--heading {
		font-size: 2.5rem;
	}

	.content--summary {
		font-size: 1.8rem;
	}

	.nav_container_menu-btn {
		display: block;
	}

	.nav_container__links {
		display: none;
	}

	.brand--logo {
		font-size: 3rem;
	}

	.banner_container {
		padding: 4rem 3rem;
		width: 100%;
	}

	.banner_container__content h1 {
		font-size: 3rem;
	}

	.nav_container__form {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.nav_container__form .btn {
		justify-content: center;
		gap: 2rem;
	}

	.nav_container__form label {
		padding: 2.5rem;
	}

	.nav_container__form input {
		font-size: 1.8rem;
	}

	.tour_container {
		flex-direction: column;
		gap: 3rem;
	}

	.tour_container__content {
		padding: 0;
	}

	.countries_container__figures {
		grid-template-columns: 1fr;
		gap: 1.6rem 0;
	}

	.countries_container__figures figure img {
		max-height: 22rem;
		object-fit: cover;
		border-radius: 1.6rem;
	}

	.choose_container__cards {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;	
	}

	.choose_container__cards___card img {
		max-width: 4.8rem;
	}

	.detail_container {
		grid-template-columns: 1fr;
	}

	.detail_container__content h2 {
		padding-right: 8rem;
	}

	.detail_container figure figcaption {
		font-size: 2rem;
	}

	.newsletter_container {
		flex-direction: column;
	}

	.newsletter_container__content {
		width: 100%;
	}

	.newsletter_container__figure-discount {
		font-size: 2rem;
		padding: 2rem 2.6rem;
		right: 2%;
		bottom: 18%;
	}

	.newsletter_container__figure-discount p:nth-child(2) {
		font-size: 2.4rem;
	}

	footer {
		padding: 5rem;
	}
}
