/* * HEADER COMPONENTS */

/* ? NAVIGAION SECTION */

.nav_container {
	padding: 5rem 3.3rem;
	align-items: center;
}

.nav_container figure img {
	max-width: 4.8rem;
	margin-right: 1rem;
}

.nav_container__links {
	list-style: none;
	gap: 4.4rem;
	font-size: 1.9rem;
	font-weight: 400;
}

.nav_container__links li {
	color: #424247;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.nav_container__links li:hover {
	color: var(--BTN-COLOR);
}

.nav_container_menu-btn {
	display: none;
}

/* ? BANNER SECTION */

.banner_container {
	padding: 11rem 18rem;
	border-radius: 1.6rem;
	background: linear-gradient(
			180deg,
			rgba(19, 19, 24, 0.8) 0%,
			rgba(19, 19, 24, 0) 100%
		),
		url("../Images/banner.png") no-repeat center;
	background-size: cover;
}

.banner_container__content {
	color: #ffffff;
	text-align: center;
	max-width: 70rem;
	margin: 0 auto;
}

.banner_container__content h1 {
	font-size: 6.4rem;
	margin-bottom: 2.4rem;
	font-weight: 800;
}

.nav_container__form {
	margin-top: 5rem;
	max-width: 90rem;
	background: #ffffff2b;
	backdrop-filter: blur(2px);
	padding: 1.5rem;
	border-radius: 0.8rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2.4rem;
}

.nav_container__form label {
	background-color: #ffffff;
	border-radius: 0.8rem;
	padding: 1.6rem 1.5rem;
}

.nav_container__form input {
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: capitalize;
	width: 100%;
	letter-spacing: 1px;
}

.nav_container__form input::placeholder {
	color: #13131880;
}

.nav_container__form label ion-icon {
	width: 2.5rem;
	height: 2.5rem;
	color: #13131880;
}

.btn ion-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.nav_container__form .btn {
	font-size: 1.8rem;
	align-items: center;
}

/* * MAIN COMPONENTS */

main section {
	margin: 10rem 0;
}

/* ? TOUR SECTION */

.tour_container__content {
	max-width: 57rem;
	font-size: 1.8rem;
	padding-right: 2.5rem;
}

.tour_container__content .content--summary {
	letter-spacing: 0.3px;
}

.tour_container__content ul {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin: 2.4rem 1.8rem;
}

.tour_container__content button {
	margin-top: 3rem;
}

/* ? COUNTRIES SECTION */

.countries_container__figures {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 2.4rem;
}

.countries_container__figures figure:nth-child(1),
.countries_container__figures figure:nth-child(2) {
	grid-column: span 6;
}

.countries_container__figures figure:nth-child(3) {
	grid-column: span 4;
}

.countries_container__figures figure:nth-child(4) {
	grid-column: span 5;
}

.countries_container__figures figure:nth-child(5) {
	grid-column: span 3;
}

.countries_container__figures figure:nth-child(6) {
	grid-column: span 5;
}

.countries_container__figures figure:nth-child(7) {
	grid-column: span 7;
}

/* ? WHY CHOOSE SECTION */

.choose_container__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.4rem;
}

.choose_container__cards___card {
	padding: 3.2rem;
	max-width: 58rem;
	border-radius: 1.6rem;
}

.choose_container__cards___card img {
	max-width: 6.4rem;
}

.choose_container__cards___card h3 {
	font-size: 2.6rem;
	font-weight: 800;
	margin: 3.2rem 0 1.6rem;
}

.choose_container__cards .choose_container__cards___card:nth-child(1) {
	background: #fbb5630d;
	border: 1px solid #fbb56333;
}

.choose_container__cards .choose_container__cards___card:nth-child(2) {
	background: #29cef60d;
	border: 1px solid #29cef633;
}

.choose_container__cards .choose_container__cards___card:nth-child(3) {
	grid-column: span 2;
	justify-self: center;
	background: #e944440d;
	border: 1px solid #e9444433;
}

/* ? NEWSLETTER SECTION */

.newsletter_container {
	gap: 3rem;
}

.newsletter_container__content {
	padding: 4rem;
	border: 2px solid var(--BTN-COLOR);
	border-radius: 1.6rem;
	width: 65%;
}

.newsletter_container__content h3 {
	font-size: 2.4rem;
	font-weight: 800;
	margin-bottom: 1.6rem;
}

.newsletter_container__content__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-top: 1px solid #1313181a;
	padding-top: 2.4rem;
	margin-top: 2rem;
}

.newsletter_container__content__form input {
	font-size: 1.6rem;
	background: #1313180d;
	padding: 1.6rem 2rem;
	letter-spacing: 0.5px;
	border-radius: 0.8rem;
}

.newsletter_container__content__form input::placeholder {
	color: #1313184d;
}

.newsletter_container figure {
	width: 100%;
}

/* * FOOTER COMPONENTS */

