/* * HEADER COMPONENTS */

/* ? NAVIGAION SECTION */

.nav_container {
	padding: 5rem 3.3rem;
	align-items: center;
}

.nav_container figure img,
.footer_container figure img {
	max-width: 4.8rem;
	margin-right: 1rem;
}

.nav_container__links {
	list-style: none;
	gap: 4.4rem;
	font-size: 1.9rem;
	font-weight: 400;
}

.nav_container__links li {
	color: #424247;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.nav_container__links li:hover {
	color: var(--BTN-COLOR);
}

.nav_container_menu-btn {
	display: none;
}

/* ? BANNER SECTION */

.banner_container {
	padding: 11rem 18rem;
	border-radius: 1.6rem;
	background: linear-gradient(
			180deg,
			rgba(19, 19, 24, 0.8) 0%,
			rgba(19, 19, 24, 0) 100%
		),
		url("../Images/banner.png") no-repeat center;
	background-size: cover;
}

.banner_container__content {
	color: #ffffff;
	text-align: center;
	max-width: 70rem;
	margin: 0 auto;
}

.banner_container__content h1 {
	font-size: 6.4rem;
	margin-bottom: 2.4rem;
	font-weight: 800;
}

.nav_container__form {
	margin-top: 5rem;
	max-width: 90rem;
	background: #ffffff2b;
	backdrop-filter: blur(2px);
	padding: 1.5rem;
	border-radius: 0.8rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2.4rem;
}

.nav_container__form label {
	background-color: #ffffff;
	border-radius: 0.8rem;
	padding: 1.6rem 1.5rem;
}

.nav_container__form input {
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: capitalize;
	width: 100%;
	letter-spacing: 1px;
}

.nav_container__form input::placeholder {
	color: #13131880;
}

.nav_container__form label ion-icon {
	width: 2.5rem;
	height: 2.5rem;
	color: #13131880;
}

.btn ion-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.nav_container__form .btn {
	font-size: 1.8rem;
	align-items: center;
}

/* * MAIN COMPONENTS */

main section {
	margin: 10rem 0;
}

/* ? TOUR SECTION */

.tour_container__content {
	max-width: 57rem;
	font-size: 1.8rem;
	padding-right: 2.5rem;
}

.tour_container__content .content--summary {
	letter-spacing: 0.3px;
}

.tour_container__content ul {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin: 2.4rem 1.8rem;
}

.tour_container__content button {
	margin-top: 3rem;
}

/* ? COUNTRIES SECTION */

.countries_container__figures {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 2.4rem;
}

.countries_container__figures figure:nth-child(1),
.countries_container__figures figure:nth-child(2) {
	grid-column: span 6;
}

.countries_container__figures figure:nth-child(3) {
	grid-column: span 4;
}

.countries_container__figures figure:nth-child(4) {
	grid-column: span 5;
}

.countries_container__figures figure:nth-child(5) {
	grid-column: span 3;
}

.countries_container__figures figure:nth-child(6) {
	grid-column: span 5;
}

.countries_container__figures figure:nth-child(7) {
	grid-column: span 7;
}

.countries_container__figures figure {
	position: relative;
}

.countries_container__figures figure figcaption {
	text-align: center;
	font-size: 3rem;
	color: #ffffff;
	font-weight: 800;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.countries_container__figures > figure::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgba(0, 0, 0, 0.266);
	border-radius: 1.6rem;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}

.countries_container__figures > figure:hover::after {
	opacity: 1;
	height: 100%;
}

.countries_container__figures figure:hover figcaption {
	opacity: 1;
}

/* ? WHY CHOOSE SECTION */

.choose_container__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.4rem;
}

.choose_container__cards___card {
	padding: 3.2rem;
	max-width: 58rem;
	border-radius: 1.6rem;
}

.choose_container__cards___card img {
	max-width: 6.4rem;
}

.choose_container__cards___card h3 {
	font-size: 2.6rem;
	font-weight: 800;
	margin: 3.2rem 0 1.6rem;
}

.choose_container__cards .choose_container__cards___card:nth-child(1) {
	background: #fbb5630d;
	border: 1px solid #fbb56333;
}

.choose_container__cards .choose_container__cards___card:nth-child(2) {
	background: #29cef60d;
	border: 1px solid #29cef633;
}

.choose_container__cards .choose_container__cards___card:nth-child(3) {
	grid-column: span 2;
	justify-self: center;
	background: #e944440d;
	border: 1px solid #e9444433;
}

/* ? DETAIL SECTION */

.detail_container {
	display: grid;
	grid-template-columns: 0.45fr 0.55fr;
	gap: 3rem;
}

.detail_container__content ul {
	margin: 2rem 1.6rem;
}

.detail_container figure {
	position: relative;
	display: flex;
}

.detail_container figure figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	text-align: center;
	font-size: 2.9rem;
	letter-spacing: 1px;
	line-height: 1.8;
	font-weight: 700;
	color: #ffffff;
	transform: translate(-50%, -50%);
}

/* ? DEAL & DISCOUNT SECTION */

.deal_container__figures > figure {
	margin-bottom: 2rem;
	position: relative;
	display: flex;
	min-height: 50rem;
}

.deal_container__figures figure img:first-child {
	object-fit: cover;
}

.deal_container__figures___content-icons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin-bottom: 1rem;
}

.deal_container__figures___content-icons > figure {
	display: flex;
	align-items: center;
}

.deal_container__figures___content-icons figure img {
	width: auto;
	margin-right: 1rem;
}

.deal_container__figures___content {
	position: absolute;
	width: 50%;
	top: 50%;
	right: 56px;
	transform: translateY(-50%);
	border-radius: 1.6rem;
	padding: 4rem 5rem;
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(2.5px);
}

.figure-left {
	left: 56px;
}

.deal_container__figures___content h3 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.deal_container__figures___content .highlight-price {
	color: var(--BTN-COLOR);
	font-weight: 800;
	font-size: 2rem;
	margin: 1rem 0 2.5rem;
}

/* ? NEWSLETTER SECTION */

.newsletter_container {
	gap: 3rem;
}

.newsletter_container__content {
	padding: 4rem;
	border: 2px solid var(--BTN-COLOR);
	border-radius: 1.6rem;
	width: 65%;
}

.newsletter_container__content h3 {
	font-size: 2.4rem;
	font-weight: 800;
	margin-bottom: 1.6rem;
}

.newsletter_container__content__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-top: 1px solid #1313181a;
	padding-top: 2.4rem;
	margin-top: 2rem;
}

.newsletter_container__content__form input {
	font-size: 1.6rem;
	background: #1313180d;
	padding: 1.6rem 2rem;
	letter-spacing: 0.5px;
	border-radius: 0.8rem;
}

.newsletter_container__content__form input::placeholder {
	color: #1313184d;
}

.newsletter_container figure {
	width: 100%;
	position: relative;
}

.newsletter_container__figure-discount {
	position: absolute;
	bottom: 14%;
	right: 1%;
	background: var(--BTN-COLOR);
	padding: 3rem 4rem;
	color: #ffffff;
	font-weight: 400;
	font-size: 2rem;
	border-radius: 1.6rem;
	text-align: center;
	transform: rotate(-25deg);
}

.newsletter_container__figure-discount p:nth-child(2) {
	font-weight: 800;
	font-size: 3rem;
	margin-top: 0.5rem;
}

/* * FOOTER COMPONENTS */

footer {
	background: rgba(19, 19, 24, 0.05);
	padding: 12rem 3.2rem 8rem;
}

.footer_container {
	text-align: center;
	max-width: 77rem;
	margin: 0rem auto;
}

.footer_container figure {
	justify-content: center;
}

.footer_container .content--summary {
	margin: 1.5rem 0 3.3rem;
}

.footer_container__links a {
	color: inherit;
	margin-right: 2rem;
}

.footer_container__links {
	padding-bottom: 3rem;
	border-bottom: 1px solid #1313181a;
	margin-bottom: 4rem;
}
